<div class="container text-center">

    <button (click)="DownloadResume()" class = "btn btn-primary mb-5 shadow border button">Download PDF Resume</button>


    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Work Experience" class="accordion-banner">
                <div style="text-align: left;" class="accordion-content custom-style">
                    <h2 class="mb-0">Event Coordinator And Tech Support</h2>
                    <h3 class="text-primary small-white-header">Fund Homecare Canada</h3>
                    <ul>
                        <li>Lead the community event committee which aimed to diversify Fund Homecare's target markets to promote in-person 
                            events to larger audiences over various social media platforms</li>
                        <li>The technology lead for the organization's events which included the implementation of Point-Of-Sale Systems, setting up 
                            wireless networks, and aiding the creation of the organizations websites</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;" class="accordion-content custom-style">
                    <h2 class="mb-0">Cargo Technician</h2>
                    <h3 class="text-primary small-white-header">Cargo Airport Services</h3>
                    <ul>
                        <li>Ensured that preparation and processing of work orders for cargo to be delivered to customers on schedule, and in a safe 
                            and efficient manner. </li>
                        <li>Directly assisted customers with the processing of shipments and export declaration. Ensured the completion of import 
                            and export good forms for future processing</li>
                    </ul>
                </div>
    
            </accordion-group>
    
            <accordion-group heading="Education" class="accordion-banner">
    
                <div style="text-align: left;" class="accordion-content custom-style">
                    <h2 class="mb-0">Candidate for Bachelor's of Engineering Science</h2>
                    <h3 class="text-primary small-white-header">University of Western Ontario</h3>
                    <ul>
                        <li>Predicted Graduation Date: May 2026</li>
                        <li>Major: Software Engineering</li>
                    </ul>
                </div>
                <div style="text-align: left;" class="accordion-content custom-style">
                    <h2 class="mb-0">International Baccalaureate Diploma</h2>
                    <h3 class="text-primary small-white-header">St. Francis Xavier Secondary School</h3>
                    <ul>
                        <li>Graduated: June 2022</li>
                        <li>Finished with a Cumulative Average of 95%</li>
                    </ul>
                </div>
    
            </accordion-group>
            
            <accordion-group heading="Skills" class="accordion-banner">
                <div class="row accordion-content custom-style" style="text-align: left;">
                    <div class="col">
                        <h3>Programming Languages</h3>
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                            <li>C#</li>
                            <li>HTML/CSS</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                        </ul>
                        
                    </div>
                    <div class="col">
                        <h3>Software</h3>
                        <ul>
                            <li>Microsoft Office Suite</li>
                            <li>Visual Studio Code</li>
                            <li>IntelliJ IDEA</li>
                            <li>PyCharm</li>
                            <li>Visual Studio</li>
                            <li>MagicDraw</li>
    
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks</h3>
                        <ul>
                            <li>JavaFx</li>
                            <li>Angular</li>
                            <li>Unity</li>
                            <li>Taipy</li>
                            <li>React Native</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Other</h3>
                        <ul>
                            <li>Leadership</li>
                            <li>Teamwork</li>
                            <li>Problem Solving</li>
                            <li>Communication</li>
                            <li>Time Management</li>
                            <li>Adaptability</li>
                        </ul>
                    </div>
                
    
                </div>
    
            </accordion-group>
            
            <accordion-group heading="Courses" class="accordion-banner">
    
                <div class="row accordion-content custom-style" style="text-align: left;">
                    <div class="col">
                        <h3>Completed Courses</h3>
                        <ul>
                            <li>Data Structures and Algorithms</li>
                            <li>Web Scripting</li>
                            <li>Software Design</li>
                            <li>Software Construction</li>
                            <li>Object-Oriented Programming</li>
                            
                        </ul>
                        
                    </div>
                    <div class="col">
                        <h3>Supplemental Courses</h3>
                        <ul>
                            <li>CompTIA A+ Core 1</li>
                            <li>CompTIA A+ Core 2</li>
                            <li>CompTIA Linux+</li>
                            <li>CompTIA Security+</li>
                            
                        </ul>
                        
                    </div>
                </div>
    
            </accordion-group>
            
        </accordion>
    
    </div>
    
</div>

    